@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(BLUE);
}
.sidebar {
  background: #157aff;
  width: 270px;
  position: fixed;
  margin: 16px;
  border-radius: 16px;
  height: calc(100vh - 32px);
  transition: 0.4s ease;
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar-header {
  position: relative;
  display: flex;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}
.sidebar-header .toggler {
  height: 35px;
  position: absolute;
  right: 20px;
  width: 35px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  background: #adb8dc;
}



.sidebar-header .sidebar-toggler span {
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 15px;
  transition: 0.4s ease;
  border-radius: 8px;
  white-space: nowrap;
}
.sidebar-nav .nav-link:hover {
  color: black;
  background-color: white;
}
.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4 ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .nav-item {
  position: relative;
}



.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
/* @media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    overflow-y: hidden;
    margin: 13px;
    scrollbar-width: none;
    width: calc(100% - 28px);
    max-height: calc(100vh - 28px);
  }

  .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #157aff;
    padding: 8px 10px;
    border-radius: 16px;
  }
  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }
  .sidebar-header .sidebar-toggler {
    display: none;
  }
  .sidebar-header .sidebar- {
    display: none;
  }
  .sidebar-nav .nav-list {
    padding: 0 10px;
  }
  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }
  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }
  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  } */
  
