.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.glide__arrow--left {
  left: 1px;
}

.glide__arrow--right {
  right: 10px;
}



